.is-font-size_12 {
	font-size: 12px;
}

.is-font-weight_9{
	font-weight:900;
}

.is-block{
	display:block;
}

body {
	font-family: 'bebas_neueregular','Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',Arial,Calibri,'Lucida Grande',Verdana,'Hiragino Kaku Gothic Pro',Meiryo,'メイリオ',sans-serif;
}

