@charset "UTF-8";
.is-layout {
  width: 960px;
  margin: 0 auto;
}

.is-center {
  margin: 0 auto;
}

.is-fl {
  float: left;
}

.is-fr {
  float: right;
}

.is-cf {
  zoom: 1;
}
.is-cf:after {
  content: "";
  display: block;
  clear: both;
}

.is-p-layout-c {
  width: 1000px;
  left: 50%;
  margin-left: -500px;
}

.is-p-center {
  left: 50%;
}

.is-p-rela {
  position: relative;
}

.is-p-fix {
  position: fixed;
}

.is-p-abso {
  position: absolute;
}

.is-zi_0 {
  z-index: 0 !important;
}

.is-zi_1 {
  z-index: 1 !important;
}

.is-zi_2 {
  z-index: 2 !important;
}

.is-zi_3 {
  z-index: 3 !important;
}

.is-zi_4 {
  z-index: 4 !important;
}

.is-zi_5 {
  z-index: 5 !important;
}

.is-zi_6 {
  z-index: 6 !important;
}

.is-zi_7 {
  z-index: 7 !important;
}

.is-zi_8 {
  z-index: 8 !important;
}

.is-zi_9 {
  z-index: 9 !important;
}

.is-zi_10 {
  z-index: 10 !important;
}

.is-zi_11 {
  z-index: 11 !important;
}

.is-last-list_l {
  margin-left: 0 !important;
}

.is-last-list_r {
  margin-right: 0 !important;
}

.is-last-list_t {
  margin-top: 0 !important;
}

.is-last-list_b {
  margin-bottom: 0 !important;
}

.is-no-txt-indent {
  text-indent: 0 !important;
}

.is-opacity-0 {
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
}

.is-accelerate {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

.is-txt-align {
  text-align: center;
}

.is-txt-align-r {
  text-align: right;
}

.is-pointer-events-none {
  pointer-events: none;
}

.is-font-size_10 {
  font-size: 10px;
}

.is-font-size_11 {
  font-size: 11px;
}

.is-font-size_12 {
  font-size: 12px;
}

.is-font-size_13 {
  font-size: 13px;
}

.is-font-size_14 {
  font-size: 14px;
}

.is-font-size_15 {
  font-size: 15px;
}

.is-font-size_16 {
  font-size: 16px;
}

.is-font-size_17 {
  font-size: 17px;
}

.is-font-size_18 {
  font-size: 18px;
}

.is-font-size_19 {
  font-size: 19px;
}

.is-font-size_20 {
  font-size: 20px;
}

.is-font-size_21 {
  font-size: 21px;
}

.is-font-size_22 {
  font-size: 22px;
}

.is-font-size_23 {
  font-size: 23px;
}

.is-font-size_24 {
  font-size: 24px;
}

.is-font-size_25 {
  font-size: 25px;
}

.is-font-size_26 {
  font-size: 26px;
}

.is-font-size_28 {
  font-size: 28px;
}

.is-font-size_30 {
  font-size: 30px;
}

.is-font-size_32 {
  font-size: 32px;
}

.is-font-size_38 {
  font-size: 38px;
}

.is-font-size_40 {
  font-size: 40px;
}

.is-font-size_42 {
  font-size: 42px;
}

.is-font-size_46 {
  font-size: 46px;
}

.is-font-size_55 {
  font-size: 55px;
}

.is-font-weight_1 {
  font-weight: 100;
}

.is-font-weight_2 {
  font-weight: 200;
}

.is-font-weight_3 {
  font-weight: 300;
}

.is-font-weight_4 {
  font-weight: 400;
}

.is-font-weight_5 {
  font-weight: 500;
}

.is-font-weight_6 {
  font-weight: 600;
}

.is-font-weight_7 {
  font-weight: 700;
}

.is-font-weight_8 {
  font-weight: 800;
}

.is-font-weight_9 {
  font-weight: 900;
}

.is-main-font-color {
  color: #ff4080;
}

.is-block {
  display: block;
}

body {
  font-family: 'bebas_neueregular','Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',Arial,Calibri,'Lucida Grande',Verdana,'Hiragino Kaku Gothic Pro',Meiryo,'メイリオ',sans-serif;
}

.is-fontF-hiragino {
  font-family: 'Hiragino Kaku Gothic Pro','Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3';
}

.is-fontF-helvetica {
  font-family: Helvetica, Arial,'Hiragino Kaku Gothic Pro','Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3';
}
